1) Installing extensions and importing libraries necessary for reading HTML and wrangling data

In [54]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd 
import numpy as np
print('imported')

imported

2) Loading data from Wikipedia link by using pandas read_html and saving to dataframe toronto

In [56]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 
rawFrame = pd.read_html(link) 
toronto = rawFrame[0]
toronto

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

3) Dropping all rows with unassigned Borough and then replacing unassigned Neighborhoods with assigned Boroughs

In [57]:
toronto.drop(toronto.loc[toronto['Borough']=='Not assigned'].
             index, inplace=True)
toronto.Neighbourhood.replace('Not assigned', toronto.Borough, inplace=True)
toronto.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

4) Renaming columns to match the example dataframe

In [58]:
toronto.columns = ['PostalCode', 'Borough', 'Neighborhood']

5) Grouping by PostalCode and allowing multiple values in Neighborhood column

In [59]:
df_toronto = toronto.groupby(['PostalCode','Borough'])['Neighborhood'].agg(lambda col:', '.join(col)).reset_index()
df_toronto.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [60]:
df_toronto.shape

(103, 3)

In [61]:
#pd.load(Geospatial_Coordinates.csv)
#file_path ='C:/Users/cnbuw/OneDrive/Documents/COURSERA/Geospatial_Coordinates.csv'
lat_long = pd.read_csv('/resources/Geospatial_Coordinates.csv')
lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [63]:
latLong_toronto = pd.concat([df_toronto, lat_long], axis=1).T.drop_duplicates().T
latLong_toronto.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395
5,M1J,Scarborough,Scarborough Village,43.7447,-79.2395
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7279,-79.262
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7111,-79.2846
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.7163,-79.2395
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.6927,-79.2648